<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/reset-css@4.0.1/reset.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/style.css">

    <title>Portfolio About Me</title>
</head>

<body>
    <div class="wrapper">

        <% include ./partials/header %>
        <div id="content" class="container">

            <h2>About Me</h2>


            <div>
                <img id="photomain" src="../assets/Images/mainphoto.jpg" alt="Photo">
            </div>

            <div>
                <p class="lead">Hi! Welcome to my page! My name is Artur Markov and I'm Full Stack Web Developer skilled in front-end and back-end web
                    development. Excited to create functional web applications. Ambitious, creative and dedicated to
                    self-improvement while able to successfully solve difficult challenges as a part of a team.</p>
            </div>
            <br>
                <p class='lead'>Please visit "Portfolio" page and take a look at list of my projects.
                <p class="lead">If you have any questions, please visit "Contact" page.</p>
                <br>
                <p class="lead text-right">Thank you!</p>
        </div>
        <div class="push"></div>
    </div>

    <% include ./partials/footer %>
</body>

</html>