<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/reset-css@4.0.1/reset.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Portfolio About Me</title>
</head>

<body>
    <div class="wrapper">

        <% include ./partials/header %>

        <div id="content" class="container">
            <h2>Portfolio</h2>

            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <img src="assets/Images/basketball.jpg" class="img-fluid port-image" alt="Basketball">
                    <h3 class="text">Basketball</h3>
                </div>

                <div class="col-sm-5 col-md-3 col-lg-3">
                    <img src="assets/Images/violin.jpg" class="img-fluid port-image" alt="Violin">
                    <h3 class="text">Violin</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <img src="assets/Images/books.jpg" class="img-fluid port-image" alt="Books">
                    <h3 class="text">Books</h3>
                </div>

                <div class="col-sm-5 col-md-3 col-lg-3">
                    <img src="assets/Images/travel.jpg" class="img-fluid port-image" alt="Travel">
                    <h3 class="text">Travel</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <img src="assets/Images/sleep.jpg" class="img-fluid port-image" alt="Sleep">
                    <h3 class="text">Sleep</h3>
                </div>

            </div>







            <div class="push"></div>
        </div>
    </div>
    <% include ./partials/footer %>

</body>

</html>