<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/reset-css@4.0.1/reset.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Portfolio About Me</title>
</head>

<body>
    <div class="wrapper">

        <% include ./partials/header %>

        <div id="content" class="container">
            <h2>Portfolio</h2>

            <div class="row">
                <% for (var i = 0; i < projects.length; i++) { %>
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <a href="<%= projects[i].link%>">
                            <img src="<%= projects[i].img %>" class="img-fluid port-image" alt="<%= projects[i].name %>">
                            <h3 class="text"><%= projects[i].name %></h3>
                    </a>
                </div>
                <% } %>
            </div>

            <div class="push"></div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>

</html>